.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 8rem;
	grid-row-gap: 6rem; }
  
  .grid + .grid {
	margin-top: 6rem; }
  
  .grid-gutterless {
	grid-column-gap: 0; }
  
  .grid-gapless {
	grid-row-gap: 0; }
	.grid-gapless + .grid {
	  margin-top: 0; }
  
  .grid-auto {
	grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); }
  
  .column-1 {
	grid-column: span 1; }
  
  .column-2 {
	grid-column: span 2; }
  
  .column-3 {
	grid-column: span 3; }
  
  .column-4 {
	grid-column: span 4; }
  
  .column-5 {
	grid-column: span 5; }
  
  .column-6 {
	grid-column: span 6; }
  
  .column-7 {
	grid-column: span 7; }
  
  .column-8 {
	grid-column: span 8; }
  
  .column-9 {
	grid-column: span 9; }
  
  .column-10 {
	grid-column: span 10; }
  
  .column-11 {
	grid-column: span 11; }
  
  .column-12 {
	grid-column: span 12; }
  
  @media only screen and (max-width: 1023px) {
	.grid-1-md {
	  grid-template-columns: repeat(1, 1fr); }
	.grid-2-md {
	  grid-template-columns: repeat(2, 1fr); }
	.grid-3-md {
	  grid-template-columns: repeat(3, 1fr); }
	.grid-4-md {
	  grid-template-columns: repeat(4, 1fr); }
	.grid-5-md {
	  grid-template-columns: repeat(5, 1fr); }
	.grid-6-md {
	  grid-template-columns: repeat(6, 1fr); }
	.grid-7-md {
	  grid-template-columns: repeat(7, 1fr); }
	.grid-8-md {
	  grid-template-columns: repeat(8, 1fr); }
	.grid-9-md {
	  grid-template-columns: repeat(9, 1fr); }
	.grid-10-md {
	  grid-template-columns: repeat(10, 1fr); }
	.grid-11-md {
	  grid-template-columns: repeat(11, 1fr); }
	.grid-12-md {
	  grid-template-columns: repeat(12, 1fr); }
	.column-1-md {
	  grid-column: span 1; }
	.column-2-md {
	  grid-column: span 2; }
	.column-3-md {
	  grid-column: span 3; }
	.column-4-md {
	  grid-column: span 4; }
	.column-5-md {
	  grid-column: span 5; }
	.column-6-md {
	  grid-column: span 6; }
	.column-7-md {
	  grid-column: span 7; }
	.column-8-md {
	  grid-column: span 8; }
	.column-9-md {
	  grid-column: span 9; }
	.column-10-md {
	  grid-column: span 10; }
	.column-11-md {
	  grid-column: span 11; }
	.column-12-md {
	  grid-column: span 12; } }
  
  @media only screen and (max-width: 767px) {
	.grid,
	.grid-auto {
	  grid-template-columns: repeat(1, 1fr); }
	.column {
	  grid-column: span 1; }
	.column:empty {
	  display: none; }
	.grid-1-sm {
	  grid-template-columns: repeat(1, 1fr); }
	.grid-2-sm {
	  grid-template-columns: repeat(2, 1fr); }
	.grid-3-sm {
	  grid-template-columns: repeat(3, 1fr); }
	.grid-4-sm {
	  grid-template-columns: repeat(4, 1fr); }
	.grid-5-sm {
	  grid-template-columns: repeat(5, 1fr); }
	.grid-6-sm {
	  grid-template-columns: repeat(6, 1fr); }
	.grid-7-sm {
	  grid-template-columns: repeat(7, 1fr); }
	.grid-8-sm {
	  grid-template-columns: repeat(8, 1fr); }
	.grid-9-sm {
	  grid-template-columns: repeat(9, 1fr); }
	.grid-10-sm {
	  grid-template-columns: repeat(10, 1fr); }
	.grid-11-sm {
	  grid-template-columns: repeat(11, 1fr); }
	.grid-12-sm {
	  grid-template-columns: repeat(12, 1fr); }
	.column-1-sm {
	  grid-column: span 1; }
	.column-2-sm {
	  grid-column: span 2; }
	.column-3-sm {
	  grid-column: span 3; }
	.column-4-sm {
	  grid-column: span 4; }
	.column-5-sm {
	  grid-column: span 5; }
	.column-6-sm {
	  grid-column: span 6; }
	.column-7-sm {
	  grid-column: span 7; }
	.column-8-sm {
	  grid-column: span 8; }
	.column-9-sm {
	  grid-column: span 9; }
	.column-10-sm {
	  grid-column: span 10; }
	.column-11-sm {
	  grid-column: span 11; }
	.column-12-sm {
	  grid-column: span 12; } }