
.custom-center-table td {
    padding: 1.30rem 0.95rem 0.3rem;
}


.trHover {
    background-color: #3a444e;
}


.option-column::after, .option-column::before {
    display: none !important;
}


.swal2-modal {
    background-color: #313a46 !important;

}


.swal2-title {
    color: #aab8c5 !important;

}


.swal2-content {
    color: #aab8c5 !important;
}

.swal2-cancel {
    color: black !important;
    background-color: #dee2e6 !important;
}


.swal2-popup.swal2-toast {
    background-color: #313a46 !important;
    box-shadow: 0 0 .625em #566579 !important;
}


.cursor-pointer {
    cursor: pointer;
}


.cursor-move {
    cursor: move;
}


.cursor-default {
    cursor: default;
}


.text-hover-underline:hover {
    text-decoration: underline;
}


.custom-file-label::after {
    content: "Αναζήτηση" !important;
}


.modal-table tbody td {
    border-bottom: 1px solid #656e77;
}


.modal-table tbody tr:first-child td {
    border-top: 1px solid #656e77 !important;
}


.table-text-center > tr {
    text-align: center;
}


.table-vertical-align-middle > tr td {
    vertical-align: middle;
}


#course-materials-list > tbody td:nth-child(4) .form-group {
    margin-bottom: 0px !important;
}


#course-materials-list > tbody td:nth-child(4) {
    padding-top: 13px;
}


.table-cnt > .dataTables_wrapper > .row:nth-child(2) {
    overflow-x: auto !important;
}


.last-column-p-10 > td:last-of-type {
    padding: 10px;
}


.select-all {
    padding-left: 30px !important;
}


.file-search-label-primary::after {
    background-color: #536de6 !important;
}


.w-5 {
    width: 5% !important;
}

.w-10 {
	width: 10% !important;
}


select.is-invalid {
    background-position: center right calc(.375em + .9000rem) !important;
}


#course-materials-list > tbody > tr:not(.extra-content-row) td {
    border-bottom: 1px solid #464f5b;
}


.additions-cnt {
    position: relative;
    width: 22px;
}


.add-material {
    font-size: 20px;
    position: absolute;
    left: -10%;
    top: 85%;
    z-index: 10;
}

.bg-light-gray .add-material {
	top: 80%;
}


#course-materials-list > tbody > tr:hover .add-material {
    display: inline !important;
}


.dataTables_length > label > .select2-container:nth-child(2) {
    width: 70px !important;
    margin-right: 6px;
}


.dataTables_length > label > .select2-container:not(:nth-child(2)) {
    width: 170px !important;
    margin-right: 6px;
}


.dataTables_length .select2-container .select2-selection--single, #daterange {

    height: calc(1.8725rem + 2px) !important;

}


.select2-selection__rendered {
    line-height: 33px !important;
}


.select2-selection__arrow {
    top: 0px !important;
}


.select2-selection {
    background-color: #404954 !important;

}


.select2-selection__clear {
    left: -15px
}


.select2-selected {
    color: white !important;
    height: 31px;
    background-color: #536de6;
    border-radius: 4px;
}


.sub-table {
    background-color: rgba(59, 63, 69, 0.79);
}


.card-hover:hover {
    background-color: #282f36;
}


.redactor-box {
    background-color: #404954 !important;
    border: 1px solid #47515d !important;
}


.redactor-box > div:nth-child( 3 ) > * {
    color: #aab8c5;
}


.redactor-placeholder::before {
    color: #8391a2;
}


.redactor-toolbar a:hover {
    background: #536de6 !important;
}


.redactor-toolbar a, .redactor-air a {
    background: #dee2e6;
}


.border-material {
    margin-top: 26px;
    padding: 36px 12px 39px 12px;
    border-radius: 8px;
    background-color: #33393f;
}


.dropleft:hover > .dropdown-menu {
    display: block;
}


.hover:hover {
    color: red;
}


.tables-hover-effect > tr:hover:not(.extra-content-row) {
    background-color: #3a444e;
}


#subtable-1_wrapper .odd:hover, #subtable-1_wrapper .even:hover {
    background-color: #3a444e;
}


#scroll-horizontal-datatable .odd:hover, #scroll-horizontal-datatable .even:hover {
    background-color: #3a444e;
}


.line-height-05 {
    line-height: 0.5;
}


.underline {
    text-decoration: underline;
}


.custom-link-primary {
    color: #519dff !important;
}


.custom-link-primary:hover {
    color: #536de6 !important;
}


.image-dropzone {
    border: 2px dashed #47515d;
    background: #404954;
    border-radius: 6px;
    cursor: pointer;
    min-height: 150px;
    padding: 20px;
}


.image-dropzone .dz-message {
    text-align: center;
    margin: 2rem 0;
}


.bg-selected {
    background-color: #313a46;
}


.content-page {
    overflow: initial;
}


.wrapper {
    overflow: initial;
}


.sticky {
    background-color: #343a40;
    position: sticky;
    top: 70px;
    z-index: 999;
}


.box-material {
    height: 80px
}


.borderBlue {
    border: solid 4px blue;
}


.now-play {
    color: #f24e1c;
}


.hover-yellow:hover {
    border-radius: 8px;

}


.bghover:hover {
    background: white !important;
    color: gray !important;

     a:hover {
        color: gray !important;
    }

}


.topic-title {
    background: white;
    color: black;
    transition: background .3s, border-color .2s;
    border-radius: 8px;


}
.material-count:hover {
    //color: rgba(191, 190, 190, 0.2);
    background: rgba(191, 190, 190, 0.2);
}

.material-title:hover {
    background: #E9EAEB!important;
}
.list-material:hover{
    background: #E9EAEB!important;
}

.list-group-item:first-child {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}


.list-material{
    border-radius: 8px;
    background: white!important;
}

.list-material-select{
    background: #E9EAEB!important;
}
.material-title{
    background: white;
}
.material-title-hover {
    background: #E9EAEB;
}


.course-title {
    background: white !important;
    color: black !important;
    padding: 2px 6px;
    border-radius: 16px;
    margin-left: 13px;
}


.course-title:hover {
    color: #328af1 !important;

}


.bghover {

    transition: background .3s, border-color .2s;
    border-radius: 8px;
}

.border-orange{
    border:  1px orange solid
}





.background-material {
    border-radius: 8px;

    background: #f1f3fa;
}


.text-black {
    color: black;
}
.list-group-item+.list-group-item{
    border-top-width: 1px;

}


.material-count {
    display: inline-block;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    background: #e7e7e7;
    color: black;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
}
.material-count:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
}
.material-count span {
    display: inline-block;
    vertical-align: middle;
}





.course-box {
    border-radius: 8px;
    width: 138px;
}


.box-title {

    padding: 6px;
    border-radius: 8px;
    color: white;
    border: solid 0.5px white;

}


.topic-link {
    list-style: none;


    a {
        font-weight: bold;
        color: #8897AE;
    }

    a:hover {
        color: white;

    }

}


.box-last-material {
    border-radius: 8px;
    //background-color: rgba(18, 14, 14, 0.1);
    display: flex;

    align-items: center;
    flex-direction: column;

    .box-num-material {
        margin-top: 15px;
        border-radius: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;

    }

    button {
        //background: #EC8505;
        color: white;
        width: 100%;
        border-radius: 8px;

    }
}


.btn-begin {
    color: black;


    :hover {
        color: #328af1;
    }
}


b[role="presentation"] {
    border-color: white transparent !important;
}


.content-width {
    max-width: 1500px;
}


.ranges {
    border-right: 1px solid #ddd;

}


.daterangepicker.show-ranges.ltr .drp-calendar.left {
    border: none;
}


.ribbon-box {
    position: fixed;
    top: 25px;
    right: 570px;
    z-index: 1000;
    width: 200px;

}


#select2-instructorMaterial-results .select2-results__option[aria-selected="true"]:after {
    text-align: right;
    padding-right: 5px;
    float: right;
    font-size: 15px;
    color: #FFF;
    content: "\00d7";
}


#select2-topicMaterial-results .select2-results__option[aria-selected="true"]:after {
    text-align: right;
    padding-right: 5px;
    float: right;
    font-size: 15px;
    color: #FFF;
    content: "\00d7";
}


.custom-primary {
    color: #b2bcc5;
}


.custom-primary:hover {
    color: #519dff;
}


.custom-danger {
    color: #b2bcc5;

}


.custom-danger:hover {
    color: #ff5b5b;
}


//! Redactor Classes for Images
figure.image-left {
    float: left;
}


figure.image-right {
    float: right;
}


figure.image-center {
    margin: auto;
}


//! image overlay
.fade-image {
    transition: .5s ease;
    backface-visibility: hidden;
}


.absolute-center {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2000;
    transform: translate(-50%, -50%);
}


.absolute-top-left {
    position: absolute;
    top: 6px;
}


.absolute-top-right {
    position: absolute;
    top: 6px;
    right: 2px;
}


.opacity-transition {
    transition: .5s ease;
    opacity: 0;
}


.image-overlay {
    transition: .5s ease;
    opacity: 0;
    color: white !important;
    cursor: pointer;
}


.css-img-cnt:hover .opacity-transition {
    opacity: 1;
}


.css-img-cnt:hover .fade-image {
    opacity: 0.3;
}


.css-img-cnt:hover .image-overlay {
    opacity: 1;
}


.gallery-checkbox:checked + label {
    opacity: 1;
}


.filepond--drop-label {
    color: white !important;
    background-color: #404954;
    border-radius: 0.5rem;
}


.filepond--panel-root {
    background-color: #404954 !important;

}


.modal {
    z-index: 1051 !important;
}


.modal-backdrop {
    background-color: rgba(0, 0, 0, .5) !important;
}


.add-watchlist:hover > .mdi-heart-outline, .add-watchlist:hover > .mdi-cards-heart {
    color: red;
}


.text-wrap {
    white-space: normal !important;
}


.min-width-200 {
    min-width: 200px !important;
}


.defalt-color-topic {
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec8505 74%);
}


.color-topic-second {
    background-color: rgba(0, 0, 0, 0.26);
}


.arrow:hover{
    transform: scale(1.5) ;
}

.text-orange {
	color: #fd7e14;
}

.text-teal {
	color: #02a8b5;
}

.gradient-cnt {
	overflow:hidden;
	border-radius :4px;
	height: 50px;
	width: 100%;
	margin-bottom: 8px;
}

.border-right-gray {
	border-right: 1px solid #aab8c5;
}

.embed-responsive {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-select2-warning.is-invalid + span > span > span {
	border: 1px solid #ff5b5b !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5b5b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23ff5b5b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
	background-repeat: no-repeat;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
	background-position: right calc( 1.6em + .1875rem) center;
}


.wrapper-video {
    position: relative;
}
.input-video {
    padding-left: 135px;
}
.wrapper-video span {
    position: absolute;
    left: 2px;
    top:36px
}

.head-section{
    background: #dedee0;

}

.avatar-image{
    object-fit: cover;
    border-radius:50%;
    width: 270px;
    height: 270px;
}

.bg-light-gray {
	background-color: #2d333c;
}

.bg-light-gray:hover {
	background-color: #383f49;

}

.row-hover:hover:not(.extra-content-row) {
    background-color: #3a444e;
}

.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overflow-x-auto {
	overflow-x: auto;
}

figure > img {
	width: 100%;
	height: auto;
}




.box-material-down {
    background: linear-gradient(315deg, #ff4e00 0%, #ec8505 74%);
    border-top: 1px solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

.box-material-up {
    background: #E0A228;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec8505 74%)

}


.list-material:hover {

    cursor: pointer;
    background: rgba(231, 231, 231, 0.51);
}

.list-material {
    border-radius: 5px;
    background: rgba(231, 231, 231, 0.2);
    margin-bottom: 10px;
}


.ribbon-edit:hover {
    text-decoration: underline;
}

.ml-2px {
	margin-left: 2px;
}

.js-filepond-file-dragging .filepond--drop-label {	//! an pas na to piraksis ksana skepsou to!
	border: 1px solid #404954;					//! einai js class
	transition: border 0.5s ease-in-out;
}

.js-filepond-file-dragging label {
	transition: color 0.5s ease-in-out;
}

.js-filepond-file-dragging label > span {
	transition: all 0.5s ease-in-out;
}

.text-decoration-limegreen {
	text-decoration-color: limegreen !important;
}

.text-limegreen {
	color: limegreen;
}

.limegreen {
	border: 1px solid limegreen !important;
}