.custom-center-table td {
	padding: 1.30rem 0.95rem 0.3rem;
}
.tables-hover-effect > tr:hover:not(.extra-content-row) {
	background-color: #3a444e;
}

.option-column::after, .option-column::before {
	display: none !important;
}
.swal2-modal {
	background-color: #313a46 !important;

}
.swal2-title {
	color: #aab8c5 !important;

}
.swal2-content {
	color: #aab8c5 !important;
}
.swal2-confirm {
	background-color: #536de6 !important;
}
.swal2-cancel {
	color: black !important;
	background-color: #dee2e6 !important;
}
.swal2-popup.swal2-toast {
	background-color: #313a46 !important;
	box-shadow: 0 0 .625em #566579 !important;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.text-hover-underline:hover {
	text-decoration: underline;
}

.custom-file-label::after {
	content: "Αναζήτηση" !important;
}

.modal-table tbody td {
	border-bottom: 1px solid #656e77;
}
.modal-table tbody tr:first-child td {
	border-top: 1px solid #656e77 !important;
}

.center-not-second > tbody > tr > td:not( :nth-child(2) ) {
	text-align: center;
}

#course-materials-list > tbody td:nth-child(4) .form-group {
	margin-bottom: 0px !important;
}

#course-materials-list > tbody td:nth-child(4) {
	padding-top: 13px;
}

.table-cnt > .dataTables_wrapper > .row:nth-child(2) {
	overflow-x: auto !important;
}

.last-column-p-10 > td:last-of-type {
	padding: 10px;
}

.select-all {
	padding-left: 30px !important;
}

.file-search-label-primary::after {
	background-color: #536de6 !important;
}

.w-5 {
	width: 5% !important;
}

select.is-invalid {
	background-position: center right calc(.375em + .9000rem) !important;
}

#course-materials-list > tbody > tr:not(.extra-content-row) td {
	border-bottom: 1px solid #464f5b;
}

.additions-cnt {
	position: relative;
	width: 22px;
}
.add-material {
	display: none;
	font-size: 20px;
	position: absolute;
	left: 2%;
	top: 145%;
	z-index: 10;
}
#course-materials-list > tbody > tr:hover .add-material {
	display: inline !important;
	// color: #ff5b5b !important;
	// background-color: red !important;
}

.select2-container{
    width: 10%!important;

}

.select2-selection{
    background-color: #404954  !important;

}
.select2-selection__clear{
    left :-15px
}
