.custom-center-table td {
	padding: 1.30rem 0.95rem 0.3rem;
}
.tables-hover-effect > tr:hover {
	background-color: #3a444e;
}

.option-column::after, .option-column::before {
	display: none !important;
}
.swal2-modal {
	background-color: #313a46 !important;
	
}
.swal2-title {
	color: #aab8c5 !important;

}
.swal2-content {
	color: #aab8c5 !important;
}
.swal2-confirm {
	background-color: #536de6 !important;
}
.swal2-cancel {
	color: black !important;
	background-color: #dee2e6 !important;
}
.swal2-popup.swal2-toast {
	background-color: #313a46 !important;
	box-shadow: 0 0 .625em #566579 !important;
}

.cursor-pointer {
	cursor: pointer;
}

.text-hover-underline:hover {
	text-decoration: underline;
}

.custom-file-label::after {
	content: "Αναζήτηση" !important;
}

#remaining-materials-table tbody td {
	border-bottom: 1px solid #656e77;
}
#remaining-materials-table tbody tr:first-child td {
	border-top: 1px solid #656e77;
}