.h2-custom {
        height: 188px;
    font-size: 54px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.6px;
    color: #2c2f30;
}


.h3-custom {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f30;
}


.h4-custom {
        padding-bottom: 20px ;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f30;
}

.h5-custom {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2c2f30;
}


.p-custom {
        height: 100px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #2c2f30;
}


.span-custom {
    width: 422px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #585d63;
}


.btn-custom {
    width: 189px;
    height: 50px;
    border-radius: 4px;
    background-color: #0fb4d3;

    span {
        width: 122px;
        height: 19px;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.55px;
        text-align: center;
        color: #ffffff;
    }
}


.img-custom-index {

    object-fit: contain;
}


.container-oval {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 382px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-1 {
        right: 0;
        top: 0;
        width: 186px;
        height: 180px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-2 {
        left: -98px;
        top: 200px;
        width: 148px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-3 {
        left: -83px;
        bottom: 77px;
        width: 93px;
        height: 90px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

}

.container-oval-2 {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 394px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-2 {
        left: -61px;
        top: 342px;
        width: 143px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-3 {
        left: 350px;
        top: 126px;
        width: 93px;
        height: 93px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

}
.container-oval-3 {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 394px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-2 {
        left: -72px;
        top: 312px;
        width: 143px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }



}

.ul-custom {
    padding: 3px;
    width: 548px;
    height: 149px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #585d63;

    li {
        list-style: none;
        font-family: OpenSans;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size: 16px;
        padding: 5px;


    }

}

.blue-title{
    width: 240px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.4px;
    color: #0fb4d3;
}

.card-shadow{
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(96, 97, 112, 0.16), 0 2px 4px 0 rgba(40, 41, 61, 0.04);
    background-color: #ffffff;
}


@media (min-width: 600.98px) {
    .mt-9 {
        margin-top: 9rem
    }
}

