
.template {
    visibility: hidden;
}


.content-page {
    overflow: initial;
}


.wrapper {
    overflow: initial;
}


.sticky {
    background-color: #343a40;
    position: sticky;
    top: 70px;
    z-index: 999;
}

.bg-custom{
    background-color: #c7daee;
}


.table-cnt > .dataTables_wrapper > .row:nth-child(2) {
    overflow-x: auto !important;
}


#calendar {
    width: 1300px;
    margin: 40px auto;
}


.box-material {
    height: 80px
}


.border-r-0 {
    border-radius: 0 !important;


}


.w-10 {
    width: 10% !important;
}


.section-list .list-group-item:first-child {
    border-radius: 0 !important;
}


.single-section-material .list-group-item:last-child {
    border-radius: 0 !important;

}


.single-section-material .list-group-item:first-child {
    border-radius: 0 !important;
}


.borderBlue {
    border: solid 4px blue;
}


.now-play {
    color: #f24e1c;
}


.hover-yellow:hover {
    border-radius: 8px;

}


.bghover:hover {
    background: white !important;
    color: gray !important;

    a:hover {
        color: gray !important;
    }

}


.topic-title {
    background: white;
    color: black;
    transition: background .3s, border-color .2s;
    border-radius: 8px;


}


.material-count:hover {
    //color: rgba(191, 190, 190, 0.2);
    background: rgba(191, 190, 190, 0.2);
}


.material-title:hover {
    background: #E9EAEB !important;
}


.list-material:hover {
    background: #E9EAEB !important;
}


.list-group-item:first-child {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}


.list-material {
    border-radius: 8px;
    background: white !important;
}


.list-material-select {
    background: #E9EAEB !important;
}


.material-title {
    background: white;
}


.bg-list {
    background: #E9EAEB !important;
}


.bg-list-hover:hover {
    background: #e5e5e5 !important;
}


.material-title-hover {
    background: #E9EAEB;
}


.course-title {
    background: white !important;
    color: black !important;
    padding: 2px 6px;
    border-radius: 16px;
    margin-left: 13px;
}


.heart {
    display: inline-block;
    background-color: red;
    position: relative;
    height: 8px;
    width: 8px;
    transform: rotate(-45deg) scale(1);
    animation: pulse 1s linear infinite;
}


@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1);
    }

    10% {
        transform: rotate(-45deg) scale(1.1);
    }

    20% {
        transform: rotate(-45deg) scale(0.9);
    }

    30% {
        transform: rotate(-45deg) scale(1.2);
    }

    40% {
        transform: rotate(-45deg) scale(0.9);
    }

    50% {
        transform: rotate(-45deg) scale(1.05);
    }

    60% {
        transform: rotate(-45deg) scale(0.95);
    }

    70% {
        transform: rotate(-45deg) scale(1);
    }
}


.heart::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    background-color: inherit;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}


.heart::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    background-color: inherit;
    border-radius: 50%;
    height: 8px;
    width: 8px;
}


.course-title:hover {
    color: #328af1 !important;

}


.bghover {

    transition: background .3s, border-color .2s;
    border-radius: 8px;
}


.border-orange {
    border: 1px orange solid
}


.background-material {
    border-radius: 8px;

    background: #f1f3fa;
}


.text-black {
    color: black;
}


.list-group-item + .list-group-item {
    border-top-width: 1px;

}


.material-count {
    display: inline-block;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    background: #e7e7e7;
    color: black;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
}


.material-count:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
}


.defalt-color-topic {
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec8505 74%);
}


.color-topic-second {
    background-color: rgba(0, 0, 0, 0.26);
}


.material-count span {
    display: inline-block;
    vertical-align: middle;
}


.course-box {
    border-radius: 8px;
    width: 138px;
}


.box-title {

    padding: 6px;
    border-radius: 8px;
    color: white;
    border: solid 0.5px white;

}


.topic-link {
    list-style: none;


    a {
        font-weight: bold;
        color: #8897AE;
    }

    a:hover {
        color: white;

    }

}


.box-last-material {
    border-radius: 8px;
    //background-color: rgba(18, 14, 14, 0.1);
    display: flex;

    align-items: center;
    flex-direction: column;

    .box-num-material {
        margin-top: 15px;
        border-radius: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;

    }

    button {
        //background: #EC8505;
        color: white;
        width: 100%;
        border-radius: 8px;

    }
}


.btn-begin {
    color: black;


    :hover {
        color: #328af1;
    }
}


b[role="presentation"] {
    border-color: white transparent !important;
}


.ranges {
    border-right: 1px solid #ddd;

}


.daterangepicker.show-ranges.ltr .drp-calendar.left {
    border: none;
}


.ribbon-box {
    position: fixed;
    top: 2rem;
    right: 33rem;
    z-index: 1000;
    width: 200px;

}


.add-watchlist:hover > .mdi-heart-outline, .add-watchlist:hover > .mdi-cards-heart {
    color: red;
}


.arrow:hover {
    transform: scale(1.5);
}


.embed-responsive {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}


.embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.box-material-down {
    background: #b04706;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;


}


.box-material-up {
    background: #E0A228;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec8505 74%)

}


.ribbon-edit:hover {
    text-decoration: underline;
}


.list-material:hover {

    cursor: pointer;
    background: rgba(231, 231, 231, 0.51);
}


.list-material {
    border-radius: 5px;
    background: rgba(231, 231, 231, 0.2);
    margin-bottom: 10px;
}


.h2-custom {
    height: 188px;
    font-size: 54px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: -0.6px;
    color: #2c2f30;
}


.h3-custom {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f30;
}


.h4-custom {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f30;
}


.h5-custom {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2c2f30;
}


.p-custom {
    height: 100px;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #2c2f30;
}


.span-custom {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #585d63;
}


.btn-custom {
    width: 189px;
    height: 50px;
    border-radius: 4px;
    background-color: #0fb4d3;

    span {
        width: 122px;
        height: 19px;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.55px;
        text-align: center;
        color: #ffffff;
    }
}


.img-custom-index {

    object-fit: contain;
}


.container-oval {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 382px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-1 {
        right: 0;
        top: 0;
        width: 186px;
        height: 180px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-2 {
        left: -98px;
        top: 200px;
        width: 148px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-3 {
        left: -83px;
        bottom: 77px;
        width: 93px;
        height: 90px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

}


.container-oval-2 {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 394px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-2 {
        left: -61px;
        top: 342px;
        width: 143px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

    .oval-3 {
        left: 350px;
        top: 126px;
        width: 93px;
        height: 93px;
        background-color: #ebebeb;
        border-radius: 100%;
    }

}


.container-oval-3 {
    height: 540px;
    display: flex;
    align-items: center;

    .oval {
        width: 394px;
        height: 394px;
        border-radius: 100%;
        background-color: #d8d8d8;

    }

    .oval-2 {
        left: -72px;
        top: 312px;
        width: 143px;
        height: 143px;
        background-color: #ebebeb;
        border-radius: 100%;
    }


}


.ul-custom {
    padding: 3px;
    width: 548px;
    height: 149px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #585d63;

    li {
        list-style: none;
        font-family: OpenSans;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size: 16px;
        padding: 5px;


    }

}


.blue-title {
    width: 240px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.4px;
    color: #0fb4d3;
}


.card-shadow {
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(96, 97, 112, 0.16), 0 2px 4px 0 rgba(40, 41, 61, 0.04);
    background-color: #ffffff;
}


@media (min-width: 600.98px) {
    .mt-9 {
        margin-top: 9rem
    }
}


.auth-column {
    position: relative;
    display: none;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    background: url("/images/bg-auth.jpg") center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}


.form-cnt {
    max-width: 480px;
    border-radius: 0;
    z-index: 2;
    padding: 3rem 2rem;
    background-color: white;
    position: relative;
    width: 100%;
}


.log-in-logo {
    margin-bottom: 2rem;
    position: absolute;
    top: 3rem;
}


.fade-out {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, .4);
}


.centered-form-cnt {
    min-width: 100vw;
    min-height: 100vh;
    align-items: stretch;
    background: url("/images/bg-auth.jpg") center;
    background-size: cover;
}


@media screen and (min-width: 1000px) {
    .auth-column {
        display: flex;
    }
    .centered-form-cnt {
        display: none;
    }
}


.custom-muted {
    color: #99a4b2;
    text-decoration: none !important;
}


.custom-link-muted {
    color: #99a4b2;
    text-decoration: none !important;
}


.custom-link-muted:hover {
    color: #83919f;
}


#header-custom {
    padding: 10px;

}


#content-custom {
    padding-bottom: 80px; /* Height of the footer element */

}


#footer-custom {
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: blue;
}


@media (min-width: 576px) {
    .sm-image {
        width: 200px !important;
        height: auto;
    }
}


@media only screen and (max-width: 992px) {
    .w-600 {
        width: 71vw
    }
}


.custom-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 49%;
    max-width: 100%;
    margin: 0px auto 0;
    position: relative;


}


.crop-height {
    /* max-width: 1200px; /* native or declared width of img src (if known) */
    max-height: 250px;
    overflow: hidden;
}


img.scale {
    /* corrects small inline gap at bottom of containing div */
    display: block;
    width: 100%; /* corrects obscure Firefox bug */
    max-width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
    display: block; /* corrects small inline gap at bottom of containing div */
    width: 100%;
    max-width: 100%;

    height: auto !important;

    -ms-interpolation-mode: bicubic;
}


.card-cnt {
    position: relative;
    overflow: hidden;

}


.card-cnt:hover .card-info {
    opacity: 0.0;
    transition: all 500ms ease-in-out;


}


.card-info {
    transition: opacity .5s ease-out;
}


.card-cnt:hover .card-play {
    bottom: 10px;
    transition: all 350ms ease-in-out;
}


.card-play {
    transition: all 350ms ease-in-out;
    position: absolute;
    bottom: -50px;
    border-radius: 20px;

}


.btn-outline-custom-info {

    background-color: #efefef;

}


.btn-outline-custom-info:hover {

    border: #328af1 solid 1px;
    color: #328af1;

}


.topic-cnt {
    border-radius: 15px;
}


.p-6 {
    padding: 7.5rem !important;
}


.text-hover-underline:hover {
    text-decoration: underline;

}


.scale-up {
    transform: scale(1);
    transition: all .5s ease;
}


.scale-up:hover {
    transform: scale(1.1);
}


.bg-opacity {

    background: #b04706;

    opacity: 0.8;
}


.cursor-pointer {
    cursor: pointer;
}


.template-fullscreen {
    position: absolute;
    right: -6%;
}

//.splide__slide{
//    margin: 3px;
//    box-shadow: 0 0 6px 0px rgba(0,0,0,0.75);
//
//}
