$grey-100: #fafbfe;
$grey-200: #eef2f7;
$grey-300: #cfd8e0;
$grey-400: #7f8d96;
$grey-500: #5c5d5f;

$black: #1f2625;
$orange: #ff7100;
$orange-medium: #ff9f50;
$orange-light: #ffc697;

$bg-grey: $grey-200;

$font-family-default: 'Open Sans', sans-serif;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

//! Sidebar
$overlay-bg: #37404a;
$sidebar-width: 290px;