$grey-100: #fafbfe;
$grey-200: #eef2f7;
$grey-300: #dbdcdd;
$grey-400: #979797;
$grey-500: #5c5d5f;

$black: #1f2625;
$orange: #ff7100;

$bg-grey: $grey-200;

$font-family-default: 'Open Sans', sans-serif;